code,
mark,
pre {
  user-select: text !important;
}

span {
  user-select: text !important;
}

h2 {
  user-select: text !important;
}

* {
  user-select: text !important;
}

html > * {
  user-select: text !important;
}
